button{
    margin:20px;
}
a{
    margin:20px;
}
table {
    width: 100%; /* width of table */
    border: 4px double black; /* frame over table*/
    border-collapse: collapse; /* show as single lines */
}

th {
    text-align: left; /* aligning to the left*/
    background: #ccc; /* color of cells */
    padding: 5px; /* fields around content */
    border: 1px solid black; /* border around cells */
}

td {
    padding: 5px; /* fields around contents */
    border: 1px solid black; /* border around cells*/
}
#redTd {
    color: red;
}
#greenTd {
    color: green
}

